.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

/* .overlay {
  border-image: linear-gradient(
    hsla(100, 2%, 37%, 0.6),
    hsla(100, 2%, 37%, 0.6)
  ) fill 1;
} */

#hero {
  background-image: url('./assets/Flood.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

a, a:visited {
  text-decoration: none;
  color:rgb(29, 88, 215)
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#title > h1, h2 {
  background-color: #98ab69c4;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin: 0.25em 0.25em 0.25em 0.25em;
  font-size: 2rem;
}

#data-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-content: center;
}

form {
  margin: 0 auto;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

label {
  text-align: left;
}

input[type="text, number"] {
  display: block;
  text-align: left;
}

.button, input[type="submit"] {
  border-width: 0;
  border-radius: 1rem;
  padding: 0.5em 0.75em;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.submit__button {
  background-color: #4bd850;
}

.add__button {
  background-color: #a5c35a;
}

.danger__button {
  background-color: red;
}

@media (max-width: 600px) {
  #data-container { 
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
  }

  #title > h1, h2 {
    font-size: 2.7ch;
  }

}